<mat-toolbar color="primary">
  <a mat-button routerLink="/labs" class="brand">
    <mat-icon>science</mat-icon>
    <span>LABMMIF</span>
  </a>

  <span class="spacer"></span>

  @if (authService.isAuthenticated()) {
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu>
      <div class="user-info">
        {{ authService.currentUser()?.first_name }}
        {{ authService.currentUser()?.last_name }}
      </div>
      <mat-divider />
      <a mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        Profile
      </a>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  } @else {
    <a mat-button routerLink="/login">Login</a>
  }
</mat-toolbar>
